<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#"><img src="/img/logo.svg" alt="Kaldi logo" class="mb0 w-50"/></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item {{ if eq `/` .Permalink }}active{{ end }}">
                <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item {{ if eq `/products/` .Permalink }}active{{ end }}">
                <a class="nav-link" href="/products">Products</a>
            </li>
            <li class="nav-item {{ if eq `/values/` .Permalink }}active{{ end }}">
                <a class="nav-link" href="/values">Values</a>
            </li>
            <li class="nav-item {{ if eq `/post/` .Permalink }}active{{ end }}">
                <a class="nav-link" href="/post">Blog</a>
            </li>
            <li class="nav-item {{ if eq `/contact/` .Permalink }}active{{ end }}">
                <a class="nav-link" href="/contact">Contact</a>
            </li>
        </ul>
    </div>
</nav>